{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="container">
            <div id="all-post-container" data-id="0" data-follow="true">
                <div id="all-post-container" data-id="0">
                    {% for post in posts %}
                        <div id="post-container" id="post-id-{{post.id}}">
                            <div id="post-info">
                                <a data-id={{post.user}} href="/profile/{{post.username}}">{{post.username}}</a>
                                <p>{{post.date}}</p>
                            </div> 
                            <div id="post-content-{{post.pk}}">
                                <p id="post-content">{{post.content}}</p>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <button type="button" id="btn-like-{{post.pk}}" class="btn-like d-flex" onclick="likeButton('{{post.pk}}')">
                                    <p id="num-likes-{{post.pk}}" style="margin-right:5px;">{{post.likes.count}}</p> 
                                    <label for="num-likes">Likes</label>
                                </button>
                            {% if logged_user %}
                                <button type="button" class="button-edit btn btn-primary" onclick="editButton('{{post.pk}}')" 
                                data-postId={{post.pk}} id="btn-edit-{{post.pk}}">Edit</button>
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <!--Paginator order-->
                    {% if posts.has_previous %}
                        <a href="?page=1"> &laquo; First </a>
                        <a href="?page={{posts.previous_page_number}}">&lt;</a>
                    {% endif %}
                    Page {{posts.number}} of {{posts.paginator.num_pages}}
                    {{posts.num_pages}}
                    {% if posts.has_next %}
                        <a href="?page={{posts.next_page_number}}">&gt;</a>
                        <a href="?page={{posts_pages}}"> &raquo; Last </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}