.container {
    width: 579px;
    margin: 0 auto;
}

#new-post {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

p {
    margin-bottom: 0;
}

.navbar {
    margin-bottom: 1rem;
}

#new-post textarea{
    height: 140px;
    margin-bottom: 8px;
}

#submit-new {
    width: 80px;
}

/* Posts */

#post-container {
    width: 500px;
    margin-left: 10px;
    margin-bottom: 8px;
    padding: 5px;
    background-color: rgb(243, 238, 238);
}

#post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2px;
}

#post-info p {
    margin-bottom: 5px;
}

#post-content {
    border: 1px solid grey;
    border-radius: 4px;
    width: 100%;
    padding: 2px;
    min-height: 100px;
    background-color: rgb(238, 238, 238)
}

/* User profile */

#user-data {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

#user-info {
    display: flex;
    justify-content: space-around;
}

.user-follow-info {
    text-align: center;
}

#text-edit {
    width: 100%;
    min-height: 100px;
}

/* buttons */ 

.btn-like {
    border: none;
    background-color: transparent;
}

.btn-like:hover {
    animation-name: like-hover;
    animation-duration: 1s;
    cursor: pointer;
}

@keyframes like-hover {
    0% {
        border: none;
        background-color: transparent;
    }
    100% {
        border-radius: 8px;
        background-color:rgba(47, 173, 247, 0.438);
    }
}